:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #212529;
    --card-color: #343a40;
    --text-color: #f8f9fa;
    --border-color: #495057;
}

body.dark-theme {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    background-color: var(--background-color);
}

.card {
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
}

.form-control {
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--border-color);
}

.form-control:focus {
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.form-floating > label {
    color: var(--secondary-color);
}

.input-group-text {
    background-color: var(--card-color);
    border-color: var(--border-color);
    color: var(--text-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    opacity: 0.9;
}

.table {
    --bs-table-bg: var(--card-color);
    --bs-table-striped-bg: #3a3d41;
    --bs-table-color: var(--text-color);
    --bs-table-border-color: var(--border-color);
    --bs-table-hover-bg: #32383e;
}

#passwordTableBody td:nth-child(1),
#passwordTableBody td:nth-child(2) {
    color: #bbd9ff;
}

.modal-content {
    background-color: var(--card-color);
    color: var(--text-color);
    border-color: var(--border-color);
}

.modal-header, .modal-footer {
    border-bottom-color: var(--border-color);
    border-top-color: var(--border-color);
}

.btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.password-display {
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}

.action-cell {
    text-align: center;
    white-space: nowrap; 
}

.navbar {
    border-bottom: 1px solid var(--border-color);
}

.navbar-brand {
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.navbar-brand:hover {
    transform: scale(1.05);
}

.btn-info {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn-success {
    background-color: #198754;
    border-color: #198754;
}
